<h2>Songs</h2>
<ul class="songs">
  <li *ngFor="let song of songs">
    <a routerLink="/detail/{{song.id}}">
      <span class="badge">{{song.id}}</span> {{song.title}}
    </a>
    <button class="delete" title="delete song"
  (click)="delete(song)">x</button>
  </li>
</ul>

<div>
  <label>Add a Song Title:
    <input #songTitle />
  </label>
  <!-- (click) passes input value to add() and then clears the input -->
  <button (click)="add(songTitle.value); songTitle.value=''">
    add
  </button>
</div>
